body {
  font-family: Helvetica;
}
.bug-type {
  background-color: #67AB9F;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: 4px;
  padding: 0px 1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.poison-type {
  background-color: #A341A3;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: 4px;
  padding: 0px 1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.grass-type {
  background-color: #97D077;
  color: white;
  font-size: 12px;
  text-align: center;
  margin-left: 4px;
  padding: 0px 1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.description .main-img img {
  margin: 0px auto;
}
.icon {
  color: #949494;
}
.icon.pokeball.active {
  color: #E91E63;
}
.icon.fav.active {
  color: #E0E02D;
}
.section-title {
  background-color: #949494;
  color: white;
  padding: 4px;
  padding-left: 16px;
}
.section-title p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
.main-section-title {
  background-color: #E91E63;
  color: white;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section-title i {
  position: absolute;
  left: 12px;
  font-size: 28px;
}
.main-section-title h3 {
  margin-top: 10px;
}
.description .description-row {
  padding: 12px 0px;
  display: flex;
  align-items: center;
}
.description .description-row .main-img {
  padding: 0;
  display: flex;
}
.description .description-row .main-img img {
  height: 200%;
  width: 200%;
}
.description .description-row .name-container {
  color: #E91E63;
  font-size: 18px;
  font-weight: bolder;
}
.description .description-row .pokemon-info {
  color: #949494;
  padding-right: 16px;
}
.information .general-info {
  border: #aeaeae solid 1px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding-left: 16px;
  padding-top: 4px;
}
.information .general-info .tag {
  color: #aeaeae;
  font-weight: bold;
}
.information .general-info .value {
  color: #aeaeae;
}
.evolution .evo-row {
  border-bottom: #aeaeae solid 1px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 8px 0px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.evolution .evo-row .evo-img img {
  border: #949494 solid 1px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.evolution .evo-row .evo-info {
  padding-left: 0px;
}
.evolution .evo-row .evo-info .name p {
  font-weight: bold;
}
.evolution .evo-row .evo-info .name p .level {
  color: #aeaeae;
  font-weight: lighter;
}
.evolution .evo-row .evo-number {
  align-self: flex-start;
  margin-top: 4px;
  color: #949494;
  font-weight: bold;
}
.type > div:first-child {
  margin-left: 0;
}
