<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<img class="list-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/142.png" alt="">
		</div>
		<div class="list-info col-xs-6">
			<p>{{pokemon.name}}</p>
		</div>
		<div class="list-icons col-xs-3">
			<p class="number">#142</p>
			<div class="icons">
	            <span class="pokeball icon active flaticon-empty-plate"></span>
	            <span class="fav icon active flaticon-favorite"></span>
			</div>
        </div>
	</div>
</div>