//PRIMARY COLORS
$p-dark-red: #C2185B;
$p-red: #E91E63;
$p-gray: #949494;
$p-yellow: #E0E02D;

//SECONDARY COLORS
$s-psychic: #E65C5C;
$s-fighting: #964542;
$s-rock: #A37448;
$s-normal: #BDA971;
$s-electric: #E6C35C;
$s-ground: #FFCC99;
$s-water: #3399FF;
$s-steel: #999999;
$s-bug: #67AB9F;
$s-grass: #97D077;
$s-ice: #8AE6E6;
$s-fire: #FF8000;
$s-ghost: #7F628C;
$s-fairy: #FF66B3;
$s-poison: #A341A3;
$s-flying: #A680B8;
$s-dragon: #966DAB;
$s-steel: #D5BEED;

//icon colors
$i-unselected: $p-red;
$i-selected: $p-red;
$i-favorite: $p-yellow;
